<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "rounded-circle" %>
    <% end %>
    <%= link_to 'All castles', castles_path, class: 'navbar-brand font-weight-bold ml-2' %>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="ex: London..." aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropleft ml-auto">

          <% if current_user.avatar.file.nil? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "default_avatar.png", width: 50, height:50, class: "rounded-circle" %>
            </a>
          <% else %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.avatar, width: 50, height:50, class: "rounded-circle navbar-avatar" %>
            </a>
          <% end %>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", renter_dashboard_path, class: "dropdown-item" %>
            <%= link_to "My rental orders", rentals_path, class: "dropdown-item" %>
            <%= link_to "Profile", profile_path, class: "dropdown-item"%>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item nav-right">
          <%= link_to user_session_path, class: "nav-link" do %>
            Log in
          <% end %>
        </li>
        <li class="nav-item nav-right">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            Sign up
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
